[Desktop Entry]
Name=Mint-Y-Dark
X-KDE-PluginInfo-Author=wonderfulShrineMaidenOfParadise
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=RaymondHackley0689@protonmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=Attribution-ShareAlike 4.0 International
X-KDE-PluginInfo-Name=Mint-Y-Dark
X-KDE-PluginInfo-Version=1.0
