[Desktop Entry]
Name=postmarketOS Grass
X-KDE-PluginInfo-Name=postmarketOS-Grass
X-KDE-PluginInfo-Author=Martijn Braam
X-KDE-PluginInfo-Website=https://gitlab.com/postmarketOS/artwork
X-KDE-PluginInfo-License=Creative Commons Attribution-ShareAlike 3.0
